body {
  margin: 0px;
}
/* font-family: 'Bellefair', serif; */
/* font-family: 'Barlow Condensed', sans-serif; */
@media only screen and (min-width: 375px) {
  .page {
    background: url("/assets/home/background-home-mobile.jpg");
    background-size: cover;
    height: 100vh;
  }
}
@media only screen and (min-width: 768px) {
  .page {
    background: url("/assets/home/background-home-tablet.jpg");
    background-size: cover;
    height: 100vh;
  }
}
@media only screen and (min-width: 1280px) {
  .page {
    background: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    height: 100vh;
  }
}
