body {
  margin: 0px;
  padding: 0px;
}
/*CSS for nav bar*/
.logo {
  margin-left: 30px;
}
.logo img {
  width: 30px;
}
.navbar-links ul li a {
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
  color: white;
  padding: 16px;
  display: block;
}
.navbar-links li:hover {
  border-bottom: 3px solid rgb(192, 192, 192);
}
/*CSS for home page*/
#col1 {
  color: white;
}
.f-text {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.75px;
}
.main-text {
  font-family: "Bellefair", serif;
}
.s-text {
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
}
.explore-link,
.explore-link:hover {
  text-decoration: none;
  color: #0b0d17;
}

/* font-family: 'Bellefair', serif; */
/* font-family: 'Barlow Condensed', sans-serif; */

@media only screen and (max-width: 768px) {
  body {
    background: url("/assets/home/background-home-mobile.jpg");
    background-size: cover;
    height: 100vh;
  }
  .logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 100;
  }
  .navbar-links {
    display: none;
    margin-left: 50vw;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    position: absolute;
    flex-direction: column;
    width: 50vw;
    z-index: 100;
  }
  .navbar-links ul {
    background-color: transparent;
    backdrop-filter: blur(10px);
  }
  .navbar-links-active {
    display: flex;
  }
  .toggle-button-open {
    position: absolute;
    top: 25px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
  }
  #home-row {
    margin-top: 10vh;
  }
  #col1 {
    text-align: center;
  }
  .f-text {
    font-size: 16px;
  }
  .main-text {
    font-size: 80px;
  }
  .s-text {
    font-size: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  #col2 {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  .home-button {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: white;
  }
  .home-button p {
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    font-family: "Bellefair", serif;
  }
}
@media only screen and (min-width: 769px) {
  body {
    background: url("/assets/home/background-home-tablet.jpg");
    background-size: cover;
    height: 100vh;
  }
  .logo {
    margin-left: 60px;
  }
  .logo img {
    width: 40px;
  }
  .nav-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 100;
  }
  .toggle-button-open,
  .toggle-button-close {
    display: none;
  }
  #home-row {
    margin-top: 10vh;
  }
  #col1 {
    text-align: center;
  }
  .f-text {
    font-size: 20px;
  }
  .main-text {
    font-size: 150px;
  }
  .s-text {
    font-size: 16px;
    padding-left: 15vw;
    padding-right: 15vw;
  }
  #col2 {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  .home-button {
    width: 242px;
    height: 242px;
    border-radius: 100%;
    background-color: white;
  }
  .home-button p {
    text-align: center;
    line-height: 242px;
    font-size: 32px;
    font-family: "Bellefair", serif;
  }
}
@media only screen and (min-width: 1280px) {
  body {
    background: url("/assets/home/background-home-desktop.jpg");
    background-size: cover;
    height: 100vh;
  }
  .logo {
    margin-left: 60px;
  }
  .nav-bar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 100;
  }
  .toggle-button-open,
  .toggle-button-close {
    display: none;
  }
  #home-row {
    margin-top: 30vh;
  }
  #col1 {
    text-align: justify;
  }
  .f-text {
    font-size: 28px;
  }
  .main-text {
    font-size: 150px;
  }
  .s-text {
    font-size: 18px;
    padding-left: 0vw;
    padding-right: 7vw;
  }
  #col2 {
    margin-top: 0vh;
    display: flex;
    justify-content: end;
  }
  .home-button {
    width: 274px;
    height: 274px;
    border-radius: 100%;
    background-color: white;
  }
  .home-button p {
    text-align: center;
    line-height: 274px;
    font-size: 32px;
    font-family: "Bellefair", serif;
  }
}
